<div id="app" v-cloak>
    {{msg}}
</div>

@section Scripts {
    <script>
        var conn = new signalR.HubConnectionBuilder().withUrl("/appHub").build();

        var vm = new Vue({
            el: '#app',
            data: { msg: '' }
        });

        conn.on("NewConnection", m => {
            console.log("NewConnection", m);
        });

        conn.start().then(() => {
            conn.invoke("GetMessage").then(m => { vm.msg = m; });
        });
    </script>
}
