@using DigitalFailState.Web.Hubs
@{
    var ci = AppHub.GetLastClientActivity();
}

<ul>
    <li><a asp-action="App">app</a></li>
    <li><a asp-action="Score">score</a></li>
    <li><a asp-action="LegacyScore">legacy score</a></li>
</ul>

@section Styles {
    <style>
        a {font-size: 300%}
    </style>
}

<pre>@ci.questionsJson</pre>
<pre>@ci.clientInfo</pre>

<p>idle since: @ci.inactiveTimeSpan</p>