@using DigitalFailState.Web.Hubs
@{
    var ci = AppHub.GetLastClientActivity();
}

<ul>
    <li><a asp-action="App">app</a></li>
    <li><a asp-action="Score">score</a></li>
    <li><a asp-action="LegacyScore">legacy score</a></li>
    <li><a asp-action="Restart" asp-controller="Api">restart clients</a></li>
    <li><a asp-action="Crash" asp-controller="Api">crash server</a></li>
</ul>

@section Styles {
    <style>
        a {font-size: 300%}
    </style>
}

<pre>@Html.Raw(ci.questionsJson)</pre>
<pre>@ci.clientInfo</pre>

<p>idle since: @ci.inactiveTimeSpan</p>