<ul>
    <li><a asp-action="App">App</a></li>
    <li><a asp-action="Score">Score</a></li>
    <li><a asp-action="LegacyScore">LegacyScore</a></li>
</ul>

@section Styles {
    <style>
        a {font-size: 300%}
    </style>
}
